body {
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
}

.card img {
  width: 270px;
  height: 270px;
  border-radius: 15px;
  margin: 15px;
}

.card h2 {
  font-weight: 700;
  margin: 20px;
}

.card p {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  margin: 25px;
}
